# --------------------
# Global
# --------------------
.env
.env.*
.DS_Store
*.log

# --------------------
# Backend - generated / scaffolded
# --------------------
backend/node_modules/
backend/dist/
backend/test/
backend/.env

backend/prisma/migrations
backend/scripts

# --------------------
# Frontend - 
# --------------------
frontend/node_modules/
frontend/.next/
frontend/out/

frontend/.env
frontend/.env.local
frontend/.env.*.local

# --------------------
# Contracts (Hardhat)
# --------------------
contracts/node_modules/
contracts/artifacts/
contracts/cache/
contracts/typechain/
contracts/.env
contracts/typechain-types

# --------------------
# Local DB / runtime
# --------------------
db/data/

